# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environments & Secrets
.env
.env.local

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
__MACOSX/

# Logs
*.log
